@use "../global" as *;

.l-about-heading {
  background-color: $white;
  padding: 60px 0 120px;
  @include mq("md") {
    padding: 30px 0 80px;
  }
}

.l-about-heading__inner {
  max-width: 890px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  @include mq("md") {
    padding: 0 20px;
  }
}

.l-about-heading__desc {
  margin-top: 100px;
  @include mq("md") {
    margin-top: 60px;
  }
}

.l-about-heading__title {
  @include lineHeightCrop(40, 60);
  @include mq("md") {
    @include lineHeightCrop(18, 37);
  }
}

.l-about-heading__text {
  margin-top: 2.5rem;
  @include mq("md") {
    margin-top: 1.875rem;
  }
}

.l-about-philosophy {
  margin-top: 120px;
  padding: 0 25px;
  @include mq("md") {
    margin-top: 0;
  }
}

.l-about-philosophy__inner {
  display: flex;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  background-color: $bg-white;
  @include mq("md") {
    flex-direction: column;
  }
}

.l-about-philosophy__body {
  flex: 1;
  padding: 4.375rem 1.875rem;
  box-sizing: border-box;
}

.l-about-philosophy__desc {
  margin-top: 3.75rem;
  @include mq("md") {
    margin-top: 1.875rem;
  }
}

.l-about-philosophy__ceo {
  margin-top: 2.5rem;
  @include mq("md") {
    margin-top: 1.875rem;
  }
}

.l-about-philosophy__img-box {
  width: min(50%, 360px);
  @include mq("md") {
    width: 100%;
  }
}

.l-about-philosophy__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 7.2 / 10.7;
  @include mq("md") {
    aspect-ratio: 6.7 / 6;
    object-position: top;
  }
}

.l-about-access {
  padding: 120px 0;
  @include mq("md") {
    padding: 80px 0;
  }
}

.l-about-access__inner {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  @include mq("md") {
    padding: 0 20px;
  }
}

.l-about-access__address-box {
  display: flex;
  gap: 1.25rem;
  margin-top: 0.5rem;
  @include mq("md") {
    gap: 0.25rem;
    flex-direction: column;
    margin-top: 1.25rem;
  }
}

.l-about-access__post-code {
  font-size: 1rem;
  font-family: $base-font;
  font-weight: $normal;
  @include lh(16, 23);
  color: $black;
  @include mq("md") {
    font-size: 0.875rem;
    @include lh(14, 20)
  }
}

.l-about-access__address {
  font-size: 1rem;
  font-family: $base-font;
  font-weight: $normal;
  @include lh(16, 23);
  color: $black;
  @include mq("md") {
    font-size: 0.875rem;
    @include lh(14, 20)
  }
}

.l-about-access__map {
  margin-top: 60px;
  width: 100%;
  @include mq("md") {
    margin-top: 20px;
  }
}

.l-about-access__map>iframe {
  width: 100%;
  aspect-ratio: 11 / 4;
  @include mq("md") {
    aspect-ratio: 67 / 80;
  }
}


.l-about-info {
  background-color: $bg-white;
  padding: 70px 0 120px;
  @include mq("md") {
    padding: 60px 0 80px;
  }
}

.l-about-info__inner {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  @include mq("md") {
    padding: 0 20px;
  }
}

.l-about-info__list {
  margin-top: 60px;
  @include mq("md") {
    margin-top: 30px;
  }
}

.l-about-pictures__wrap {
  margin-top: 120px;
  display: flex;
  overflow: hidden;
  width: 100vw;
  @include mq("md") {
    margin-top: 80px;
  }
}

.l-about-pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.l-about-pictures__item-img {
  max-width: 480px;
  width: 33.333vw;
  object-fit: cover;
  aspect-ratio: 1 / 1;

  @include mq("md") {
    max-width: 180px;
    width: 48vw;
  }
}

.l-about-pictures:first-child {
  animation: loop 100s -50s linear infinite;
}

.l-about-pictures:last-child {
  animation: loop2 100s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}