@use "../global" as *;


.l-hero {
  margin-top: 236px;
  position: relative;
  width: min(1270px,88.19vw);
  height: 514px;
  margin-left: auto;
  @include mq("md") {
    width: 97.333vw;
    margin-top: 110px;
    height: 280px;
  }
}

.l-hero__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: min(500px, 34.722vw);
  background-color: $white;
  padding-top: 1rem;
  padding-bottom: 2.9375rem;
  padding-left: 3.125rem;
  @include mq("md") {
    width: min(190px,50.667vw);
    padding-top: 1.125rem;
    padding-bottom: 2.25rem;
    padding-left: 1.125rem;
  }
}

.l-hero__text-en {
  font-size: clamp(2.751rem,5.729vw,6.25rem);
  font-family: $third-font;
  font-weight: $bold;
  @include lh(100, 148);
  color: $black;
  @include mq("md") {
    @include lh(44, 65);
  }
}

.l-hero__text-ja {
  margin-top: -0.5rem;
  font-size: clamp(0.75rem, 2.34375vw,1.25rem);
  font-family: $base-font;
  font-weight: $bold;
  @include lh(20, 29);
  color: $black;

  @include mq("md") {
    @include lh(12, 17);
  }
}

.l-hero__img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 317.5 / 128.5;
  @include mq("md") {
    aspect-ratio: 36.5 / 28;
    object-position: center;
  }
}
