@use "../global" as *;


.l-home-contact {
  background-color: $navy;
}

.l-home-contact__container {
  display: flex;
  flex-direction: row-reverse;
  @include mq("md") {
    flex-direction: column;
  }
}

.l-home-contact__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5.0625rem 0 5.125rem;
  padding-left: 12.15278vw;
  padding-right: 11.80556vw;
  @include mq("md") {
    padding: 5rem 0;
  }
}

.l-home-contact__text {
  font-size: 1.125rem;
  font-family: $base-font;
  font-weight: $regular;
  @include lh(18, 30);
  color: $white;
  @include mq("md") {
    font-size: 0.875rem;
    @include lh(14, 28);
  }
}

.l-home-contact__button {
  position: relative;
	overflow: hidden;
  width: 277px;
  border: solid 1px $white;
  border-radius: 4px;
  margin-top: 1.25rem;
  outline: none;
  transition: ease .2s;
  @include mq("md") {
    width: 227px;
  }
}

.l-home-contact__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $white;
  width: 100%;
  height: 100%;
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}

.l-home-contact__button:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.l-home-contact__button:first-of-type {
  margin-top: 1.5625rem;
  @include mq("md") {
  margin-top: 2rem;
  }
}

.l-home-contact__button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.81818em 0;
  position: relative;
	z-index: 3;
  font-size: 1.375rem;
  font-family: $base-font;
  font-weight: $regular;
  @include lh(22, 32);
  color: $white;
  height: inherit;
  @include mq("md") {
    font-size: 1rem;
  }
}

.l-home-contact__button:hover .l-home-contact__button-link {
  color: $navy;
}

.l-home-contact__button .fa-envelope::before {
  margin-right: 1rem;
  @include mq("md") {
    margin-right: 0.625em;
  }
}

.l-home-contact__button .fa-phone {
  margin-right: 1rem;
  @include mq("md") {
    margin-right: 0.625em;
  }
}

.l-home-contact__reception-hours {
  margin-top: 1.375rem;
  font-size: 0.825rem;
  font-family: $base-font;
  @include lh(12, 17);
  color: $white;
  @include mq("md") {
    margin-top: 0.625rem;
    font-size: 0.75rem;
  }
}

.l-home-contact__img-wrap {
  max-width: 820px;
  width: 56.944%;
  height: 446px;
  @include mq("md") {
    max-width: 100%;
    width: 100%;
    height: 240px;
  }
}

.l-home-contact__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    object-position: left;
  }
}