@use "../global" as *;


.l-home-work {
  background-color: $bg-white;
  padding-top: 120px;
  @include mq("md") {
    padding-top: 60px;
  }
}

.l-home-work__inner.l-default-inner {
  @include mq("md") {
    padding-left: 0;
    padding-right: 0;
  }
}

.l-home-work__title.c-title {
  @include mq("md") {
    padding-left: 0.52631578947em;
  }
}


.l-home-work__media-container {
  background-color: $white;
  margin-top: 40px;
  padding: 0 2.5rem 3.125rem ;
  @include mq("md") {
    padding: 0 2.5rem 5rem;
  }
}

.l-home-work__button {
  margin-top: 2.5rem;
}
